<div class="row">
  <div class="col-sm-12">
    <rz-form
      [data]="order"
      [fields]="components[0].fields"
      (cancel)="form0Cancel($event)"
      (submit)="form0Submit($event)"
    ><rz-form-field property="UserName" required="true" title="User Name" type="string"></rz-form-field>
    <rz-form-field format="date-time" property="OrderDate" required="true" title="Order Date" type="string"></rz-form-field>
    </rz-form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <rz-grid
      [allowAdd]="components[1].allowAdd"
      [allowDelete]="components[1].allowDelete"
      [columns]="components[1].columns"
      [count]="getOrderDetailsCount"
      [data]="getOrderDetailsResult"
      (add)="grid0Add($event)"
      (delete)="grid0Delete($event)"
      (loadData)="grid0LoadData($event)"
    ></rz-grid>
  </div>
</div>
<rz-notification [messages]="messages"></rz-notification>
