<div class="row">
  <div class="col-sm-5">
    <rz-button
      [style]="components[1].style"
      [text]="components[1].text"
      (click)="button0Click($event)"
    ></rz-button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="height:684px">
    <rz-grid
      [allowDelete]="components[0].allowDelete"
      [columns]="components[0].columns"
      [data]="getRolesResult"
      (delete)="grid0Delete($event)"
    ></rz-grid>
  </div>
</div>
<rz-notification [messages]="messages"></rz-notification>
